# Virtual environment
venv/
.env


# VSCode settings
.vscode/

# Database
*.sqlite3

# Alembic
alembic.ini
alembic/versions/*.pyc
alembic/versions/*.pyo
alembic/versions/__pycache__/

# Pytest cache
.pytest_cache/
.cache/

# Logs
*.log

# MyPy
.mypy_cache/

#Py_cache
.__pycache__/

# macOS
.DS_Store

# Windows
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# Editor swap files
*.swp
*.swo
*~

# Local DB dump
*.dump
*.sql

# Jupyter / IPython
.ipynb_checkpoints/
